- name: Setup environment
  hosts: all
  remote_user: root
  roles:
    - geerlingguy.docker
  tasks:
    - name: Install required packages
      ansible.builtin.apt:
        name: git
        state: present
        update_cache: yes
    - name: Clone repository
      ansible.builtin.git:
        repo: 'https://github.com/cballevre/VesselVigil.git'
        dest: /opt/VesselVigil
        single_branch: yes
        version: feat/self-hosting-supabase
    - name: Ensure VesselVigil directory exists
      ansible.builtin.file:
        path: /opt/VesselVigil
        state: directory
        owner: root
        group: root
        mode: '0755'
    - name: Copy .env template
      ansible.builtin.template:
        src: env.j2
        dest: /opt/VesselVigil/.env
        owner: root
        group: root
        mode: '0644'
    - name: Ensure .env file exists
      ansible.builtin.file:
        path: /opt/VesselVigil/.env
        state: file
    - name: Pull images for Supabase
      community.docker.docker_compose_v2_pull:
        project_src: /opt/VesselVigil
        files:
          - docker-compose.production.yml
    - name: Create and start services
      community.docker.docker_compose_v2:
        project_src: /opt/VesselVigil
        files:
          - docker-compose.production.yml

